<?php

/* You can get these from your Twitter dev dashboard */

$twitterSettings = array(
  'oauth_access_token' => "",
  'oauth_access_token_secret' => "",
  'consumer_key' => "",
  'consumer_secret' => ""
);

/* These come from your fuzzy.io dashboard. */

$apiKey = "";
$agentID = "";
